Source: openresolv
Section: net
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://roy.marples.name/projects/openresolv/home
Vcs-Git: git://anonscm.debian.org/collab-maint/openresolv.git
Vcs-Browser: http://anonscm.debian.org/cgit/collab-maint/openresolv.git

Package: openresolv
Provides: resolvconf
Architecture: any
Depends: ${misc:Depends}
Conflicts: resolvconf
Description: management framework for resolv.conf
 Allows multiple daemons to manage resolv.conf and configures
 local resolvers such as dnsmasq and unbound.
 .
 This package may require some manual configuration.
 Please read resolvconf(8) and resolvconf.conf(5) for detailed instructions.
