Source: openresolv
Section: net
Priority: optional
Maintainer: Jose dos Santos Junior <j.s.junior@live.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Homepage: http://roy.marples.name/projects/openresolv/home
Vcs-Git: https://anonscm.debian.org/git/collab-maint/openresolv.git
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/openresolv.git

Package: openresolv
Provides: resolvconf
Architecture: any
Depends: ${misc:Depends}
Conflicts: resolvconf
Description: management framework for resolv.conf
 Allows multiple daemons to manage resolv.conf and configures
 local resolvers such as dnsmasq and unbound.
 .
 This package may require some manual configuration.
 Please read resolvconf(8) and resolvconf.conf(5) for detailed instructions.
